{% extends 'base.html' %}

{% block content %}

<div class="footer section-space100">
    

    <div class="container ">
        <hr class="dark-line ">
        <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                <div class="widget-text mt40 ">
                    <!-- widget text -->
                    <p>SCN is a market place to sell your screenplay, buy your screenplay, hire a professional and the best place for every budget.</p>
                </div>
                <!-- /.widget text -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
                <div class="widget-footer mt40 ">
                    <!-- widget footer -->
                    <ul class="listnone ">
                        <li><a href="/">Home</a></li>
                        <li><a href="/professionals">Professionals</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/scripts">All Scripts</a></li>
                        
                    </ul>
                </div>
                <!-- /.widget footer -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
                <div class="widget-footer mt40 ">
                    <!-- widget footer -->
                    <ul class="listnone ">
                        <li><a href="/signup">Sign up</a></li>
                        <li><a href="/signin">Sign in</a></li>
                        <li><a href="/sell">Sell Scripts</a></li>
                        <li><a href="/hireprofessional">Hire Professional</a></li>
                      
                    </ul>
                </div>
                <!-- /.widget footer -->
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
              <div class="widget-social mt40 ">
                    <!-- widget footer -->
                    <ul class="listnone ">
                        <li><a href="#!"><i class="fab fa-facebook-f "></i>Facebook</a></li>
                        <li><a href="https://www.instagram.com/scn.network/"><i class="fab fa-instagram"></i>Instagram</a></li>
                    </ul>
                </div>
                <!-- /.widget footer -->
            </div>
        </div>
    </div>
</div>
<!-- /.footer -->
<div class="tiny-footer">
    <!-- tiny footer -->
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <p>© Copyright 2022 | Screen City Network</p>
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                <p>Developed by <a href="">Tech Dream</a> 0597 458 456</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}




