<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Borrow - is the loan company website template.">
    <meta name="keywords" content="loan, bad credit, EMI Calculator, credit cars, home loan, car loan, education loan">
    <title>Screen City Network | Photographers</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="css/fontello.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- owl Carousel Css -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
</head>

<body>
  <div class="header-topbar d-none d-lg-block ">
    <!-- top-bar -->
    <div class="container text-center">
        <div class="row text-center">
                <p class="mail-text">Welcome to Screen City Network, Connecting film writers to filmmakers</p>
        </div>
    </div>
</div>
<!-- /.top-bar -->
<div class="sticky-top bg-white">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                <!-- logo -->
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="Welcome to Screen City Network"></a>
                </div>
            </div>
            <!-- logo -->
            <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6 col-6 ">
                <div class="header-action d-flex justify-content-end">
                    <a href="hire_professionals.html" class="btn btn-primary btn-sm  d-none d-xl-block d-lg-block">Hire Professionals</a>
                    <a href="signup.html" class="btn btn-secondary btn-sm ">Create Account Now</a></div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 py-lg-0 border-top border-bottom">
        <div class="container">
            <a class="d-xl-none d-lg-none" href="#!">Menu</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-justified w-lg-75 mt-2 mt-lg-0">
                    <li class="nav-item dropdown border-left-lg">
                        <a class="nav-link " id="navbarHome" href="index.html" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown  border-left-lg">
                        <a class="nav-link dropdown-toggle" id="navbarProduct" data-toggle="dropdown" href="#!" aria-haspopup="true" aria-expanded="false">
                            Scripts
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarProduct">
                                <li class="dropdown-item dropright">
                                    <a class="dropdown-link" href="film_scripts.html">
                                        Film Scripts
                                    </a>           
                                </li>
                                <li class="dropdown-item dropright">
                                    <a class="dropdown-link" href="radio_scripts.html">
                                        Radio Scripts
                                    </a>  
                                </li>
                                <li class="dropdown-item dropright">
                                    <a class="dropdown-link" href="animation_scripts.html">
                                        Animation Scripts
                                    </a>
                                </li>
                                <li class="dropdown-item dropright">
                                    <a class="dropdown-link" href="video_game_scripts.html">
                                        Video Game Scripts
                                    </a>
                                </li>
                                <li class="dropdown-item dropright">
                                    <a class="dropdown-link" href="non_english_scripts.html">
                                        Non-English Scripts
                                    </a>
                                </li>
                                <li class="dropdown-item dropright">
                                    <a class="dropdown-link" href="tv_scripts.html">
                                        TV Scripts
                                    </a>
                                </li>
                        </ul>
                    </li>
                   
                    <li class="nav-item dropdown  border-left-lg">
                        <a class="nav-link dropdown-toggle" href="#!" id="navbarFeatures" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Professionals
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarFeatures">
                                <li><a class="dropdown-item" href="script_writers.html">Script Writers and Translators</a></li>
                                <li> <a class="dropdown-item" href="script_editors.html">Script Editors and Supervisors</a></li>
                                <li> <a class="dropdown-item" href="video_editors.html">Video Editors</a></li>
                                <li> <a class="dropdown-item" href="video_directors.html">Video Directors</a></li>
                                <li> <a class="dropdown-item" href="graphic_design.html">Graphic Designers</a></li>
                                <li> <a class="dropdown-item" href="photographers.html">Photographers</a></li>
                                <li> <a class="dropdown-item" href="sound_engineers.html">Sound Engineers and Technicians</a></li>
                                <li> <a class="dropdown-item" href="song_writers.html">Song Writers</a></li>
                                <li> <a href="hire_professionals.html" class="btn btn-primary btn-sm  d-none d-xl-block d-lg-block">Hire Professionals</a></li>
                            </ul> 
                    </li>

                    <li class="nav-item dropdown  border-left-lg">
                        <a class="nav-link dropdown-toggle" href="#!" id="navbarFeatures" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarFeatures">
                                <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                <li> <a class="dropdown-item" href="terms.html">Terms</a></li>
                                <li> <a class="dropdown-item" href="copyright.html">FAQ</a></li>
                            </ul> 
                    </li>
                    <li class="nav-item dropdown  border-left-lg">
                        <a class="nav-link" href="#!" id="navbarBlog" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item  border-right-lg border-left-lg">
                          <a class="nav-link " href="contact-us.html">
                                Contact us
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-breadcrumb">
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Photographers</li>
              </ol>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="bg-white pinside30">
              <div class="row align-items-center">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                  <h1 class="page-title">Photographers </h1>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="btn-action">
                    <a href="become_seller.html" class="btn btn-secondary">Become a seller</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-nav" id="sub-nav">
              <ul class="nav nav-justified">
                <li class="nav-item">
                  <a href="contact-us.html" class="nav-link">Give me call back</a>
                </li>
                <li class="nav-item">
                  <a href="hire_professionals.html" class="nav-link">Hire Professional</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" ">
      <!-- content start -->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="wrapper-content bg-white p-3 p-lg-5">
                      <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="mb60">
                                  <p class="lead">We have professional script writers and translaters who are ready to assist you in your script needs. Hire our professionals now</p>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="team-block mb-5">
                                  <div class="team-img mb-3"> <img src="images/team1.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                  <div class="team-content text-center">
                                      <h3 class="mb-0">Daniel Moore</h3>
                                      <small class="designation">Animation Script</small>
                                  </div>
                              </div>
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="team-block mb-5">
                                <div class="team-img mb-3"> <img src="images/team1.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                                <div class="team-content text-center">
                                    <h3 class="mb-0">Daniel Moore</h3>
                                    <small class="designation">Animation Script</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                          <div class="team-block mb-5">
                              <div class="team-img mb-3"> <img src="images/team1.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                              <div class="team-content text-center">
                                  <h3 class="mb-0">Daniel Moore</h3>
                                  <small class="designation">Animation Script</small>
                              </div>
                          </div>
                      </div>
                         
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /.content end -->
   <div class="footer section-space100">
        <!-- footer -->

        <div class="container" id="account-section">
            <div class="row">
                    <div class="input-group" id="login-div">
                        <input type="email" class="form-control border-0 shadow-none" id="email"
                         name="newsletter" placeholder="Write E-Mail Address " required>
                         <input type="password" class="form-control border-0 shadow-none" id="password"
                         name="newsletter" placeholder="Write Password " required>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit" id="signup">Signup</button>
                            <button class="btn btn-secondary" type="submit" id="login">login</button>
                        </span>
                    </div>

                 <div class="logout-div">
                    <h3>Welcome User</h3>
                    <p>Welcome to your screen city account</p>
                    <button class="btn btn-secondary" type="submit" id="login">log out</button>
                </div>
                
            </div>
        </div>

        <div class="container ">
            <hr class="dark-line ">
            <div class="row ">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                    <div class="widget-text mt40 ">
                        <!-- widget text -->
                        <p>SCN is a market place to sell your screenplay, buy your screenplay, hire a professional and the best place for every budget.</p>
                    </div>
                    <!-- /.widget text -->
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
                    <div class="widget-footer mt40 ">
                        <!-- widget footer -->
                        <ul class="listnone ">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="professionals.html">Professionals</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="blog-listing.html">News</a></li>
                            <li><a href="copyright.html">Faq</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- /.widget footer -->
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
                    <div class="widget-footer mt40 ">
                        <!-- widget footer -->
                        <ul class="listnone ">
                            <li><a href="film_scripts.html">Film Scripts</a></li>
                            <li><a href="radio_scripts.html">Radio Scripts</a></li>
                            <li><a href="tv_scripts.html">TV Scripts</a></li>
                            <li><a href="animation_scripts.html">Animation Scripts</a></li>
                            <li><a href="video_game_scripts.html">Video Game Scripts</a></li>
                            <li><a href="non_english_scripts.html">Non-English Scripts</a></li>
                        </ul>
                    </div>
                    <!-- /.widget footer -->
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 ">
                  <div class="widget-social mt40 ">
                        <!-- widget footer -->
                        <ul class="listnone ">
                            <li><a href="#!"><i class="fab fa-facebook-f "></i>Facebook</a></li>
                            <li><a href="https://www.instagram.com/scn.network/"><i class="fab fa-instagram"></i>Instagram</a></li>
                        </ul>
                    </div>
                    <!-- /.widget footer -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer -->
    <div class="tiny-footer">
        <!-- tiny footer -->
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <p>© Copyright 2022 | Screen City Network</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                    <p>Developed by <a href="">Tech Dream</a> by Aspire</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.tiny footer -->
    <!-- /.tiny footer -->
    <!-- back to top icon -->
    <a href="#0" class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slider script -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js"></script>
    <script src="js/main.js"></script>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-app.js";
        import { getDatabase, set, ref, update } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-database.js";
        import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, signOut, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.7.0/firebase-auth.js";
    
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyDk8edWWqDHmwbVOjbsQyiasWtixJzkiys",
          authDomain: "screencitynetwork-2118c.firebaseapp.com",
          databaseURL: "https://screencitynetwork-2118c-default-rtdb.firebaseio.com",
          projectId: "screencitynetwork-2118c",
          storageBucket: "screencitynetwork-2118c.appspot.com",
          messagingSenderId: "308706056386",
          appId: "1:308706056386:web:c53763a29fa6531d82035b"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);
        const auth = getAuth();
    
        ///button eventlistener
        signup.addEventListener('click', (e) => {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            createUserWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                // Signed in 
                const user = userCredential.user;
    
                set(ref(database, 'users/' + user.uid), {
                    email: email
                })
                alert('User Created, Redirecting to homepage')
                //window.open('index.html')
                // ...
            })
            .catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;
                alert(errorMessage);
                // ..
            });
        })
    
    
        login.addEventListener('click', (e) => {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            window.alert(email + password)
    
            const auth = getAuth();
            signInWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                // Signed in 
                const user = userCredential.user;
                const dt = new Date();
                update(ref(database, 'users/' + user.uid), {
                    last_login: dt
                })
                alert('User Loggedin')
                // ...
            })
            .catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;
                alert(errorMessage);
            });
        })
        const user = auth.currentUser;
        onAuthStateChanged(auth, (user) => {
        if (user) {

            document.getElementById('login-div').style.display = 'block';
            document.getElementById('logout-div').style.display = 'none';
            // User is signed in, see docs for a list of available properties
            // https://firebase.google.com/docs/reference/js/firebase.User
            const uid = user.uid;
            // ...
        } else {

            document.getElementById('login-div').style.display = 'none';
            document.getElementById('logout-div').style.display = 'block';
            // User is signed out
            // ...
        }
        });
    
    
        logout.addEventListener('click', (e) => {
      
        signOut(auth).then(() => {
            alert('User loggedout')
        // Sign-out successful.
        }).catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
            alert(errorMessage);
        // An error happened.
        });
            })
      </script>
</body>

</html>