{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}
<div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-breadcrumb">
            <ol class="breadcrumb">
              <li><a href="/professionals">{{professional_object.talent}}</a></li>
              <li class="active">{{professional_object.name}}</li>
            </ol>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="bg-white pinside30">
            <div class="row align-items-center">
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <h1 class="page-title">{{professional_object.name}}</h1>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="btn-action">
                  <a href="/becomeprofessional" class="btn btn-secondary">Become a Professional</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
 
  {% include 'footer.html' %}
{% endblock content %}

